body{
    background-color: rgb(55, 212, 178);
}
.logo{
    width: 550px;
    height: 550px;
    margin-left: 200px;
    margin-top: 70px;
    
}
.floating-btn {
    display: block;
    border: 2.5px solid #d4af37;
    position: fixed;
    bottom: 30px;
    left: 60px;
    z-index: 999;
    width: 100px;
    height: 100px;
    background-color: #765bd7;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .floating-btn:hover {
    background-color: #5825b8;
    box-shadow:2px 2px 5px #5825b8;
  }
  
  .floating-btn span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  

.getstarted{
    width: 160px;
    height: 60px;
    background-color:#757195 ;
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    color: white;
    margin-top: 600px;
    margin-left: 100px;
    border: white;
    font-size: 20px;
}

.getstarted:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 15px rgb(238, 230, 230);
  }