<!DOCTYPE html>
<html>
<head>
	<title>Activities</title>
	<link rel="stylesheet" type="text/css" href="../static/css/activities.css">
</head>
<body>
    <div class="head"><h1>Why don't you try...</h1></div>
    
	<div class="container">
		<div class="card">
			<img src="../static/assets/medi.jpg">
			<div class="card-content">
				<h3>Meditation</h3>
				<p>Meditation is a practice that involves training the mind to focus on the present moment and achieve a state of calmness and relaxation. Through regular meditation, one can improve their ability to manage stress, reduce anxiety and depression, enhance emotional well-being, and even boost their immune system.</p>
				<a href="https://www.google.com/search?q=meditation+classes+near+me&rlz=1C1RLNS_enIN989IN989&sxsrf=APwXEdeZ7OQsrlDdd_ORlLvkqgdZGpgYtg%3A1681000591867&ei=jwgyZPPBNMaeseMP8K-z2As&oq=meditation+cla&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ6gIQJzoNCAAQjwEQ6gIQtAIYAToNCC4QjwEQ6gIQtAIYAToECCMQJzoICAAQigUQkQI6CwgAEIoFELEDEIMBOhEILhCABBCxAxCDARDHARDRAzoLCAAQgAQQsQMQgwE6BwgAEIoFEEM6CAgAEIAEELEDOgsILhCABBDHARCvAToLCAAQigUQsQMQkQI6CggAEIoFELEDEEM6DgguEIAEELEDEIMBENQCOgoILhCxAxCKBRBDOgoILhCKBRDUAhBDOggILhCABBDUAjoFCC4QgAQ6CggAEIAEEEYQ_wFKBAhBGABQqTJYzWFgjXBoAXABeACAAccDiAHrHJIBCDItMTIuMC4ymAEAoAEBsAEUwAEB2gEGCAEQARgK&sclient=gws-wiz-serp">Lets do it!</a>
			</div>
		</div>

		<div class="card">
			<img src="../static/assets/painting.jpg">
			<div class="card-content">
				<h3>Painting</h3>
				<p>Painting is often considered a calming activity that can help reduce stress and anxiety. It allows the mind to focus on the present moment and express emotions through the use of color, shape, and texture. Whether painting as a hobby or a profession, it can be a therapeutic outlet that fosters inner peace and emotional well-being</p>
				<a href="https://www.google.com/search?q=painting+classes+near+me&rlz=1C1RLNS_enIN989IN989&sxsrf=APwXEdeYDj_YTdaXP6RmEwsa1PqI4DtR5A%3A1681001753650&ei=GQ0yZL-mJ96MseMP4t-9IA&oq=pai+classes+near+me&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB5KBAhBGABQAFjpCWCyF2gAcAF4AIABygGIAc4EkgEFMC4yLjGYAQCgAQHAAQE&sclient=gws-wiz-serp">Lets do it!</a>
			</div>
		</div>

		<div class="card">
			<img src="../static/assets/game.jpg">
			<div class="card-content">
				<h3>Games</h3>
				<p>Engaging in gaming activities can serve as a form of relaxation and stress relief, as it allows players to immerse themselves in a virtual world and escape from the stresses of reality. Certain types of games, such as puzzle or simulation games, can be particularly helpful in promoting a sense of calmness and focus.  </p>
				<a href="https://www.silvergames.com/en/t/relaxing">Lets do it!</a>
			</div>
		</div>
        <br>
        <div class="card">
			<img src="../static/assets/asmr.jpg">
			<div class="card-content">
				<h3>ASMR</h3>
				<p>ASMR often prompts a calm, pleasant feeling. Many people have become fans of ASMR over the past several years, likely as a result of these positive effects. While more research is needed to fully understand the science behind ASMR’s popularity and widespread use, anecdotal evidence suggests that ASMR may benefit health.</p>
				<a href="https://youtube.com/playlist?list=PLFjximVveyNXGaGUy5t9y17gnKYkEFDW_">Lets do it!</a>
			</div>
		</div>
        <div class="card">
			<img src="../static/assets/music.jpg">
			<div class="card-content">
				<h3>Music</h3>
				<p>A slower tempo can quiet your mind and relax your muscles, making you feel soothed while releasing the stress of the day. Music is effective for relaxation and stress management. Research confirms these personal experiences with music.</p>
				<a href="https://www.youtube.com/watch?v=_zScs9cYWsw">Lets do it!</a>
			</div>
		</div>
        <div class="card">
			<img src="../static/assets/jogging.jpg">
			<div class="card-content">
				<h3>Jogging</h3>
				<p>Physical exercise has many health benefits. When you exercise and run, endorphins and serotonin are released in your body -- chemicals in your brain that improve your mood.  Running regularly at a moderate or vigorous level can improve your mental health. </p>
				<a href="https://www.google.com/search?q=parks+near+me&rlz=1C1RLNS_enIN989IN989&sxsrf=APwXEdc-VSdvW-PBZmzYAc_XZoHoMZeapw%3A1681002389357&ei=lQ8yZJu9FYeuseMP0eyyyAc&ved=0ahUKEwjb26LyzZv-AhUHV2wGHVG2DHkQ4dUDCA8&uact=5&oq=parks+near+me&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIHCAAQigUQQzINCAAQigUQsQMQgwEQQzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIIxDqAhAnOgQIIxAnOgsILhCKBRDUAhCRAjoICAAQigUQkQI6CwguEIMBELEDEIoFOggIABCABBCxAzoICC4QsQMQgAQ6CwguEIAEELEDEIMBOgsIABCABBCxAxCDAToKCAAQigUQsQMQQzoLCC4QrwEQxwEQgAQ6CwguEIAEEMcBEK8BOg0ILhCKBRCxAxCDARBDOhEILhCABBCxAxCDARDHARCvAToLCAAQigUQsQMQgwFKBAhBGABQ2QFY2hpgvRxoAXAAeACAAYcCiAG1FZIBBTAuNi43mAEAoAEBsAEKwAEB&sclient=gws-wiz-serp">Lets do it!</a>
			</div>
		</div>
	</div>
</body>
</html>
