<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/font.css">
</head>
<body id="text">
    
    <div style="z-index: -1; position: absolute;" >
        <img src="../static/assets/logomoodpilot.png" class="logo">
    </div>
    <div>
        <button class="getstarted" type="submit" onclick= "window.location.href='signup.html'">Get Started</button>
    </div> 
    <script type="module" src="../static/js/index.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ucmstmk4.json"  background="transparent"  speed="0.75"  style="width: 77.5%; height: 100%; z-index: 0; float: right; overflow: hidden; margin-bottom: auto;"  loop  autoplay ></lottie-player>
</body>
</html>