<!DOCTYPE html>
<html>

<head>
    <title>MoodPilot</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Chivo&family=League+Spartan:wght@600&family=Poppins:wght@300&family=Satisfy&display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" href="font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Chivo&family=League+Spartan:wght@600&family=Merienda:wght@500&family=Neucha&family=Poppins:wght@300&family=Satisfy&display=swap" rel="stylesheet"></head>
</head>
<body>
    <div id="preloader" style=" 
        background: url('jungle_edited.jpg') ;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-size: cover;
        height : 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
      "> 
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_raijrjlw.json" background="transparent" speed="0.65" style="width: 500px; height: 400px; margin-top: 150px; margin-left: 550px;" loop autoplay></lottie-player>
    <h1 id="text" class="loader-text">LOADING...</h1>
</div>
    <nav style="z-index: 1; margin-top: 0; ">
        <div class="logo" >
            <img src="logo.png" alt="MoodPilot logo" style="border-radius: 50%;">
            <h2 class="Moodpilot">Mood Pilot</h2>
        </div>
        <div class="user">
            <img src="../static/assets/user.png" alt="User image">
            Username
        </div>
    </nav>
    
    <div id="background">
    <lottie-player src="https://lottie.host/35e2331e-3437-4f2e-87d3-c483a0488037/O5z1E93zd4.json" background="transparent" speed="1" style="width: 100%; height: 100%; overflow: hidden; z-index: -2;" loop autoplay></lottie-player>
    
    
    <main style="z-index: 0;" >
        <div class="contents">
        <div class="hero">
            
            <div class="overlay"></div>
            <div class="hero-content">
                <h1 class="feeling-font">How are you feeling?</h1>
                <form>
                    <div class="form-group" style="height: 200px; width: 400px;">
                        <label for="exampleFormControlTextarea1" ></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Let your thoughts flow"></textarea>
                      </div>  
                    <button type="submit" >Log your entry</button>
                </form>
                
            </div>
            
            </div>
    
            <div class="container">
                <p class="quote-text"></p>
            </div>
        </div>
        </div>
    </main>
</div>
<div class="wrapper" style="position: absolute; top:0; right: 0; padding-top: 0;">
</div>

<button id="scroll-down-button" class="fancy-scroll-button">

    <i class="fas fa-chevron-down"></i>
</button>

<section class="recent-thoughts">
<div class="diary">
    <h2 class="feeling-font" id="recent-thoughts">Your Recent Thoughts</h2>
    <br>
    <br>
    <div id="thoughts-container"></div>
</div>
<table id="myTable">
        
</table>
   
</section>

<br>
<script>
    var loader= document.getElementById("preloader");
    // window.addEventListener("load", function(){
    //     loader.style.display= "none";
    // })
    setTimeout(function(){
        loader.style.display= "none";
     }, 2000)
</script>     
    
        
    
<script>
    const quotes = ["Believe in yourself and all that you are. Know that there is something inside you that is greater than any obstacle.", "Inspiration does exist, but it must find you working.", "I have stood on a mountain of no's for one yes.", "Courage is like a muscle. We strengthen it by use.", "You are never too old to set another goal or to dream a new dream.", "Don't watch the clock; do what it does. Keep going.", "If you want to live a happy life, tie it to a goal, not to people or things.", "Success is not final, failure is not fatal: it is the courage to continue that counts.", "The future belongs to those who believe in the beauty of their dreams.",];

    const quoteText = document.querySelector(".quote-text");
    let index = 0;

    function typeWriter() {
        if (index === quotes.length) {
            index = 0;
        }
        const currentQuote = quotes[index];
        const speed = 100; // typing speed in milliseconds
        let charIndex = 0;

        const typingInterval = setInterval(() => {
            if (charIndex === currentQuote.length) {
                clearInterval(typingInterval);
                setTimeout(() => {
                    quoteText.textContent = "";
                    index++;
                    typeWriter();
                }, 3000); // time to wait before typing the next quote
                return;
            }
            quoteText.textContent += currentQuote.charAt(charIndex);
            charIndex++;
        }, speed);
    }

    typeWriter();

    const thoughtsContainer = document.getElementById("thoughts-container");

    // window.addEventListener("scroll", () => {
    //     const scrollPosition = window.scrollY;

    //     if (scrollPosition >= 300) {
    //         thoughtsContainer.innerHTML = `
    //     <div class="thought">Thought 1</div>
    //     <div class="thought">Thought 2</div>
    //     <div class="thought">Thought 3</div>
    //     <div class="thought">Thought 4</div>
    //     <div class="thought">Thought 5</div>
    //     <div class="thought">Thought 6</div>
    //     <div class="thought">Thought 7</div>
    //     <div class="thought">Thought 8</div>
        
    // `;
    //     }
    // });
    const scrollButton = document.getElementById("scroll-down-button");

    scrollButton.addEventListener("click", () => {
        window.scrollBy({
            top: window.innerHeight,
            left: 0,
            behavior: "smooth",
        });
    });

    window.addEventListener("scroll", () => {
        const scrollPosition = window.scrollY;
        const screenHeight = window.innerHeight;
        const scrollButton = document.getElementById("scroll-down-button");

        if (scrollPosition > screenHeight * 0.5) {
            scrollButton.classList.add("hidden");
        } else {
            scrollButton.classList.remove("hidden");
        }
    });



</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module" src="../static/js/table.js"></script>
<script type="module" src="../static/js/firebase.js"></script>
<script type="module" src="../static/js/auth.js"></script>

    
</body>

</html>