<!DOCTYPE html>
<html>

<head>
    <title>MoodPilot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css">

</head>

<body>
    <nav>
        <div class="logo">
            <img src="../static/assets/logomoodpilot.png" alt="MoodPilot logo">
            <h1>MoodPilot</h1>
        </div>
        <div class="user">
            <img src="../static/assets/user.png" alt="User image">
            <p>John Doe</p>
        </div>
    </nav>
    <main>
        <div class="hero">
            <div class="overlay"></div>
            <div class="hero-content">
                <h1>How are you feeling?</h1>
                <form>
                    <div class="form-group" style="height: 200px; width: 400px;">
                        <label for="exampleFormControlTextarea1" ></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Let your thoughts flow"></textarea>
                      </div>  
                    <button type="submit" >Analyse</button>
                </form>
                
            </div>
        </div>
    </main>
    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <!-- <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
            --> <h3>Your Recent Thoughts</h3> 
          
        </div>
            <!--menu item-->
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">hey</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">hey2</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">hey3</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">hey4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">hey5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">hey6</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">hey7</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">hey8</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>

    </div>
    <footer>
        <div class="container">
            <p class="quote-text"></p>
        </div>
    </footer>
    <script>
        const quotes = ["Believe in yourself and all that you are. Know that there is something inside you that is greater than any obstacle.", "Inspiration does exist, but it must find you working.", "I have stood on a mountain of no's for one yes.", "Courage is like a muscle. We strengthen it by use.", "You are never too old to set another goal or to dream a new dream.", "Don't watch the clock; do what it does. Keep going.", "If you want to live a happy life, tie it to a goal, not to people or things.", "Success is not final, failure is not fatal: it is the courage to continue that counts.", "The future belongs to those who believe in the beauty of their dreams.",];

        const quoteText = document.querySelector(".quote-text");
        let index = 0;

        function typeWriter() {
            if (index === quotes.length) {
                index = 0;
            }
            const currentQuote = quotes[index];
            const speed = 100; // typing speed in milliseconds
            let charIndex = 0;

            const typingInterval = setInterval(() => {
                if (charIndex === currentQuote.length) {
                    clearInterval(typingInterval);
                    setTimeout(() => {
                        quoteText.textContent = "";
                        index++;
                        typeWriter();
                    }, 3000); // time to wait before typing the next quote
                    return;
                }
                quoteText.textContent += currentQuote.charAt(charIndex);
                charIndex++;
            }, speed);
        }

        typeWriter();

    </script>
</body>

</html>